@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background: cornflowerblue;
}

.calculator{
    
    width: 100%;
    max-width: 280px;
    margin: 50px auto;
    border-radius: 10px;
     overflow: hidden;
    box-shadow: 0 0 5px #999999;
    
}
.screen{
    background-color: orange;
    width: 100%;
    min-height: 100px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    padding-top: 20px;
}
.cal-buttons{
    background: #ffffff;
    padding: 15px;
}
ul#buttons{
    list-style-type: none;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    
}
ul#buttons li{
    font-size: 24px;
    color: #000000;
    background: #ecedef;
    width: 20%;
    margin:5px 2.5%;
    padding-top: 11px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;
   cursor: pointer;
    text-align: center;
    transition: all 0.3s;
}
ul#buttons li:hover,ul#buttons li:visited{
    background: green;
    color: #ffffff;
}
ul#buttons li:active{
    background: #000000;
}
li#equals{
width: 100% !important;
border-radius: 10px !important;
}